<nav>
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/svs">Silicon Valley Skydiving</a> <!-- 37.07, -121.6 -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ssb">Skydive Santa Barbara</a> <!-- 34.67, -120.45 -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sp">Skydive Perris</a> <!-- 33.76, -117.21 -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ssv">Skydive San Joaquin Valley</a> <!-- 35.09, -119.07 -->
        </li>
    </ul>
    <!-- TODO add Bootstrap nav menu -->
</nav>